body {
    margin: 0px;
}
* {
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.986);
}

.etapas {
    display: flex;
    flex-direction: row;
}

.Enviar-novidades {
    display: flex;
    flex-direction: row;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.salvar-informações {
    display: flex;
    flex-direction: row;
}

.area-detalhes {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.foto-roupa {
    margin-right: 2em;
}

.Subtotal, .Frete, .Desconto, .Total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quad2 {
    background-color: #0A112899;
    width: 59%;
    color: white;
}

.quad2 input[type=text] {
    padding: 0.7em;
    width:  80%;
    margin-right: 0.6em;
}

.linha-separacao, .linha-separacao2, .linha-separacao3 {
    margin: 1.2em 1.5em;
}

.div-quad2 {
    margin: 4em 3em 0em 3em;
}

.area-desconto button {
    background-color: #0000005E;
    padding: 0.4em 0.6em 0.4em 0.6em;
    font-size: 1em;
    color: white;
}
.area-desconto {
    width: 100%;
}
.margin {
    margin-bottom: 0.6em;
}
.nome-jaqueta {
    margin-bottom: 0.5em;
}
.quad1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 5em 5em 7em;
}

.lusett {
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.etapas {
    display: flex;
    justify-content: center;
}

.etapa-azul {
    color: #1282A2;
}

.formulario {
    justify-content: space-evenly;
    display: flex;
    height: 100%;
    margin-top: 1.5em;
    width: 100%;
}

.quad1 input[type=text] {
    padding: 1em;
    margin-bottom: 1em;
}

select {
    width: 13.3em;
    padding: 1em;
}

.boxestilo + label {
    display: block;
    margin: 0em;
    cursor: pointer;
    padding: 0.1em;
    }
    
    .boxestilo {
    display: none;
    }
    
    .boxestilo + label:before {
    content: "\2714";
    border: 0.13em solid #000;
    border-radius: 0.0em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .6s;
    }
    
    .boxestilo + label:active:before {
    transform: scale(0);
    }
    
    .boxestilo:checked + label:before {
    background-color: #1282A2;
    border-color: rgb(235, 235, 235);
    color: rgb(255, 255, 255);
    }
    
    .boxestilo:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
    }
    
    .boxestilo:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
    }

    .Email, .CEP, .Endereco, .Complemento, .Cidade input {
    width: 100%;
    display: flex;
    }

    .subtitulo {
    font-size: 1.5em;
    margin: 1em 0em 1em 0em;
    }

    .Nome-e-Sobrenome input, .Telefone-e-CPF input, .Bairro-e-Num input {
        width: 49.7%;
    }

    .div-select {    
        width:210px;     
        overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
        margin-right: 2em;
    } 
        
    .div-select select { 
        background: url('../../assets/images/seta-para-baixo.png') 
        no-repeat #1282A2;  /* Imagem de fundo (Seta) */      
        background-position: 180px center;  /*Posição da imagem do background*/      
        width: 270px; /* Tamanho do select, maior que o tamanho da div "div-select" */      
        height:48px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */  

        font-size:18px; /* Tamanho da Fonte */  
        padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */  
        color:#fff; /* Cor da Fonte */      
        text-indent: 0.01px; /* Remove seta padrão do FireFox */      
        text-overflow: "";  /* Remove seta padrão do FireFox */             
        select::-ms-expand {display: none;} /* Remove seta padrão do IE*/ 
    }

    .Pais-e-Estado {
        display: flex;
        margin-bottom: 0.8em;
    }

    .decisoes-botoes {
        margin-top: 1em;
    }

    button {
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        color: #1282A2;
        font-size: 0.9em;
        padding: 0.8em;
    }

    .botao-continuar button {
        background-color: #1282A2;
        color: white;
        margin-right: 0.5em;
    }

    .decisoes-botoes {
        display: flex;
        flex-direction: row;
        margin-top: 2.5em;
    }